<div id="testimonials" class="{{ spacingY }} bg-grey">
    <div class="container">
        <div class="relative -m-4">
            <div class="flex flex-wrap js-testimonials-slider">
                {% for testimonial in testimonials %}
                    <div class="w-full p-4">
                        {% include "_atoms/testimonial-card.twig" %}
                    </div>
                {% endfor %}
            </div>
    
            {% include "_atoms/slider-controls.twig" with {
                sliderName: 'testimonials',
                controlsClasses: (testimonials|length < 4 ? 'lg:hidden')
            } %}
        </div>
    </div>
</div>