{% set post = Post(post) %}
<a href="{{ post.link }}" class="flex relative transform transition-all hover:scale-103">
    {% include "_atoms/picture.twig" with {
        source: post.thumbnail.src,
        pictureClasses: 'relative z-0',
        lazyload: true,
        breakpoints: {
            "1600px" : {
                w: 500,
                h: 320,
                crop: 'center'
            },
            "480px" : {
                w: 400,
                h: 400,
                crop: 'center'
            },
            "1px" : {
                w: 480,
                h: 300,
                crop: 'center'
            },
        },
        img: {
            classes: 'lazyload',
            w: 480,
            h: 300,
            crop: 'center',
        }
    } %}
    <span class="max-w-[90%] absolute bottom-0 right-0 z-10 btn btn-grey">{{ post.title }} {{ fn('icon','angles-right') }}</span>
</a>