<div class="flex justify-end w-full pr-4 mt-2 pointer-events-none tns-controls-{{ sliderName }} tns-controls {{ controlsClasses }}">
    <button type="button" data-controls="prev" tabindex="-1" aria-label="prev" class="w-10 h-10 mr-2 flex items-center justify-center transition pointer-events-auto bg-primary text-white hover:bg-primary-dark rounded-tl-xl">{{ function('icon','angles-left','!mr-0') }}</button>
    <button type="button" data-controls="next" tabindex="-1" aria-label="next" class="w-10 h-10 flex items-center justify-center transition pointer-events-auto bg-primary text-white hover:bg-primary-dark rounded-tr-xl">{{ function('icon','angles-right','!mr-0') }}</button>
</div>